attrs==19.3.0
awscli==1.18.84
backcall==0.2.0
bleach==3.1.5
blis==0.4.1
boto3==1.14.7
botocore==1.17.7
catalogue==1.0.0
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conllu==3.0
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_ner_jnlpba_md-0.2.4.tar.gz
entrypoints==0.3
filelock==3.0.12
googledrivedownloader==0.4
h5py==2.10.0
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.1
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.17.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
llvmlite==0.33.0
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nmslib==2.0.6
notebook==6.0.3
numba==0.50.0
numpy==1.16.0
packaging==20.4
pandas==0.24.2
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plac==1.1.3
plyfile==0.7.2
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pybind11==2.5.0
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pysbd==0.2.3
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
rdflib==5.0.0
regex==2020.6.8
requests==2.24.0
rsa==3.4.2
s3transfer==0.3.3
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn==0.20.3
scipy==1.4.1
scispacy==0.2.4
Send2Trash==1.5.0
sentencepiece==0.1.91
six==1.15.0
spacy==2.2.4
srsly==1.0.2
terminado==0.8.3
testpath==0.4.4
thinc==7.4.0
threadpoolctl==2.1.0
tifffile==2020.6.3
tokenizers==0.5.0
torch==1.4.0
torch-geometric==1.4.3
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
transformers==2.5.0
urllib3==1.25.9
wasabi==0.6.0
wcwidth==0.2.4
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0